# Backend ignores

backend/*.rbc
backend/capybara-*.html
backend/.rspec
backend/log
backend/tmp
backend/db/*.sqlite3
backend/public/system
backend/coverage/
backend/spec/tmp
**.orig
backend/rerun.txt
backend/pickle-email-*.html
backend/db/development.sqlite3
backend/log/development.log

# TODO Comment out these rules if you are OK with secrets being uploaded to the repo
backend/config/initializers/secret_token.rb
backend/config/secrets.yml

## Environment normalisation:
backend/.bundle
backend/vendor/bundle

# these should all be checked in to normalise the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
backend/.rvmrc


.DS_Store

# Frontend ignores

*/node_modules/*
frontend/.sass-cache/*
frontend/bower_components/*
frontend/build
frontend/js/app.js
frontend/src/config.js

# Deployment ignores

deploy/*
