html, body {
  background-color: #fafafa; }

.no-margin {
  margin: 0; }

@media screen and (max-width: 600px) {
  .title-container {
    width: 97% !important; }

  .jobs-container {
    padding: 3rem 0.5rem !important;
    width: 97% !important; } }
.title-container {
  width: 100%;
  padding-top: 1rem;
  border-radius: 5px 5px 0 0; }
  .title-container .title h1 {
    margin: 0;
    width: 100%;
    text-align: left;
    font-size: 3.8rem;
    color: #1a1a1a;
    font-weight: 600;
    text-shadow: -0.4px -0.4px 0 #000, 0.4px -0.4px 0 #000, -0.4px 0.4px 0 #000, 0.4px 0.4px 0 #000;
    text-shadow: 0px 0px 5px rgba(80, 80, 80, 0.8); }
  @media screen and (min-width: 600px) {
    .title-container .title {
      width: calc(100% - 190px) !important; }
      .title-container .title h1 {
        padding-left: 0rem; }
    .title-container .logo-container {
      width: 190px !important; } }
  @media screen and (max-width: 600px) {
    .title-container .title h1 {
      text-align: center;
      padding: 0 1rem; }
    .title-container .logo-container .logo {
      margin: 0 auto 1rem;
      display: block; } }
  .title-container .stripe-container {
    position: absolute;
    opacity: 0.7;
    width: 100%;
    height: 100px;
    top: 40px;
    left: 0; }
    .title-container .stripe-container .stripe {
      display: block;
      height: 50px;
      width: 100%; }
      .title-container .stripe-container .stripe.black {
        background-color: black; }
  .title-container .logo-container {
    position: relative;
    margin: 0 auto; }
    .title-container .logo-container .logo {
      width: 160px;
      top: 7px;
      left: 120px;
      z-index: 100; }

[type="checkbox"].filled-in:checked + label:after {
  border-color: #1a1a1a;
  background-color: #f08c00; }

[type="radio"].with-gap:checked + label:before {
  border-color: #1a1a1a; }

[type="radio"].with-gap:checked + label:after {
  border-color: #f08c00;
  background-color: #f08c00; }

.jobs-container {
  width: 90%;
  margin: 0 auto 6rem;
  background-color: #fafafa;
  padding: 3rem 2rem;
  border-radius: 0 0 5px 5px; }
  .jobs-container .filters input.job-filter {
    margin: 0 auto 15px;
    width: 95%;
    display: block; }
    .jobs-container .filters input.job-filter:focus {
      border-bottom: 1px solid #1a1a1a;
      box-shadow: 0 1px 0 0 #1a1a1a; }
  .jobs-container .filters .sort-form {
    margin: 1rem auto;
    width: 95%; }
    .jobs-container .filters .sort-form .sort-title {
      color: #9e9e9e; }
    .jobs-container .filters .sort-form label {
      margin-left: 1rem;
      padding-left: 28px; }
    .jobs-container .filters .sort-form .other {
      margin-left: 2rem; }
  @media screen and (max-width: 900px) {
    .jobs-container .filters .other, .jobs-container .filters .radios {
      display: block;
      margin: 0.5rem auto !important; }
    .jobs-container .filters .radios {
      padding-left: 1rem; } }
  .jobs-container .job {
    display: block;
    background-color: #fff;
    border: 5px solid #ffd966;
    box-shadow: 0 -3px 15px 5px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: background-color .3s, box-shadow .3s; }
    .jobs-container .job:hover {
      box-shadow: 0 0px 18px 6px rgba(0, 0, 0, 0.4), 0 2px 10px 0 rgba(0, 0, 0, 0.4); }
    .jobs-container .job .close-container {
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: hand;
      cursor: pointer; }
    .jobs-container .job .logo-container img {
      max-width: 70%;
      display: block;
      margin: 1rem auto 0;
      max-height: 80px; }
    .jobs-container .job .company-name, .jobs-container .job .job-title {
      color: #f08c00;
      font-weight: 400;
      line-height: 30px;
      margin: 1rem 0.5rem 0; }
    .jobs-container .job .company-name {
      font-size: 18px;
      font-weight: 300; }
    .jobs-container .job .job-title {
      margin-top: 0; }
    .jobs-container .job .job-end {
      font-size: 0.9rem;
      color: #afafaf;
      margin: 0.5rem; }
    .jobs-container .job .card-content p {
      margin: 1rem 0; }
    .jobs-container .job .card-content ul li {
      list-style-type: disc;
      margin-left: 1.5rem; }
    .jobs-container .job .card-content h3 {
      font-size: 1.8rem; }
    .jobs-container .job .card-content h4 {
      font-size: 1.5rem; }
    .jobs-container .job .card-content h5 {
      font-size: 1.2rem; }
    .jobs-container .job .card-action.job-tags .job-tag {
      background-color: #fafafa;
      color: #1a1a1a;
      margin: 0 0.5rem 0.5rem 0;
      border: 1px solid rgba(50, 50, 50, 0.5);
      transition: background-color .3s, color .3s; }
      .jobs-container .job .card-action.job-tags .job-tag:hover {
        background-color: #ffd966;
        color: #1a1a1a; }
    .jobs-container .job.single .card-action.job-tags {
      height: auto; }
    .jobs-container .job.inactive {
      border-color: #afafaf; }
      .jobs-container .job.inactive .card-title {
        color: #afafaf; }
  .jobs-container .overlap {
    width: 100%;
    border-top: 10px solid #ffcc33;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-bottom: 1rem; }

footer.page-footer {
  background-color: black;
  opacity: 0.7; }
  footer.page-footer .footer-copyright {
    background-color: rgba(51, 51, 51, 0.2); }

/*# sourceMappingURL=style.css.map */
