<div class="jobs-container">

  <div class="row" ng-if="selectedJob" id="selected-job-container">
    <div class="col s12">
      <div class="card job single" ng-class="{ 'inactive' : isActive(selectedJob) }">

        <div class="close-container" ng-click="clearActiveJob()">
          <i class="material-icons">close</i>
        </div>

        <div class="row no-margin">
          <div class="col l8">
            <p class="card-title company-name">{{ selectedJob.company.name}}</p>
            <p class="card-title job-title">{{ selectedJob.title }}</p>
            <p class="job-end" ng-if="selectedJob.end">Application deadline <span>{{ selectedJob.end | amDateFormat:'DD.MM.YYYY' }}</span></p>
          </div>
          <div class="col m4 logo-container">
            <img ng-if="selectedJob.company.logo" src="/images/{{ selectedJob.company.logo }}" />
          </div>
        </div>

        <div class="card-content black-text">

          <div ng-bind-html="selectedJob.description"></div>
        </div>
        <div class="card-action" ng-if="selectedJob.company.url">
          <a class="company-url" href="#" class="black-text">{{ selectedJob.company.website }}</a>
          <a href="#"></a>
        </div>
        <div class="card-action job-tags" ng-if="selectedJob.tags.length > 0">
          <span class="job-tag chip button waves-effect" ng-click="setFilterTag(tag.name)" ng-repeat="tag in selectedJob.tags">{{ tag.name }}</span>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="filters">
      <input type="text" class="z-depth-2 job-filter" ng-model="filterJob" placeholder="Type to filter jobs by tags, company name, job title (comma separated)">
      <form class="sort-form">
        <span class="radios">
          <span class="sort-title">Sort by:</span>
          <input id="sort-created" class="with-gap" type="radio" ng-model="sortOptions.sortType" value="created_at"><label for="sort-created">Latest additions</label>
          <input id="sort-end" class="with-gap" type="radio" ng-model="sortOptions.sortType" value="end"><label for="sort-end">Earliest deadline</label>
        </span>

        <span class="other">
          <input class="filled-in" type="checkbox" id="sort-reverse" ng-model="sortOptions.reverse" /><label for="sort-reverse">Reverse order</label>
          <input class="filled-in" type="checkbox" id="sort-expired" ng-model="sortOptions.showExpired" /><label for="sort-expired">Show expired jobs</label
        </span>

      </form>
    </div>

    <div class="row job-grid">
      <div class="col s12 job-brick" ng-repeat="job in jobs | filter:tagFilter | orderBy:sortOptions.sortType:trueReverse" ng-show="selectedJob.id !== job.id && !(isActive(job) && !sortOptions.showExpired)">

        <div class="card job" ng-class="{ 'inactive' : isActive(job) }" ng-click="setActiveJob(job)">

          <div class="row no-margin">
            <div class="col l8">
              <p class="card-title company-name">{{ job.company.name}}</p>
              <p class="card-title job-title">{{ job.title }}</p>
              <p class="job-end" ng-if="job.end">Application deadline <span>{{ job.end | amDateFormat:'DD.MM.YYYY' }}</span></p>
              <p class="job-end" ng-if="!job.end">Applications accepted until further notice</p>
            </div>
            <div class="col m4 logo-container" ng-if="job.company.logo">
              <img src="/images/{{ job.company.logo }}" />
            </div>
          </div>

          <div class="card-content black-text" ng-if="true == false">

            <p>{{ job.description }}</p>
          </div>
          <div class="card-action" ng-if="true == false">
            <a class="company-url" href="{{ job.company.website }}" target="_blank" class="black-text" ng-click="$event.stopPropagation();">{{ job.company.website }}</a>
            <a href="#"></a>
          </div>
          <div class="card-action job-tags" ng-if="job.tags.length > 0">
            <span class="job-tag chip button waves-effect" ng-click="setFilterTag(tag.name); $event.stopPropagation();" ng-repeat="tag in job.tags">{{ tag.name }}</span>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
