<div class="row" ng-if="selectedJob" id="selected-job-container">
  <div class="col s12">
    <div class="card job single" ng-class="{ 'inactive' : isActive(selectedJob) }">

      <div class="close-container" ng-click="clearActiveJob()">
        <i class="material-icons">close</i>
      </div>

      <div class="row no-margin">
        <div class="col l8">
          <p class="card-title company-name">{{ selectedJob.company.name}}</p>
          <p class="card-title job-title">{{ selectedJob.title }}</p>
          <p class="job-end" ng-if="selectedJob.end">Haku auki <span>{{ selectedJob.end | amDateFormat:'DD.MM.YYYY' }}</span> asti</p>
        </div>
        <div class="col m4 logo-container">
          <img ng-if="selectedJob.company.logo" src="/images/{{ selectedJob.company.logo }}" />
        </div>
      </div>

      <div class="card-content black-text">

        <div ng-bind-html="selectedJob.description"></div>
      </div>
      <div class="card-action" ng-if="selectedJob.company.url">
        <a class="company-url" href="#" class="black-text">{{ selectedJob.company.website }}</a>
        <a href="#"></a>
      </div>
      <div class="card-action job-tags" ng-if="selectedJob.tags.length > 0">
        <span class="job-tag chip button waves-effect" ng-click="setFilterTag(tag.name)" ng-repeat="tag in selectedJob.tags">{{ tag.name }}</span>
      </div>
    </div>
  </div>
</div>
