html, body {
  background-color: #141414;
  background-color: #fafafa;
}



.no-margin {
  margin: 0;
}

@media screen and (max-width: 600px) {
  .title-container {
    width: 97% !important;
  }
  .jobs-container {
    padding: 3rem 0.5rem !important;
    width: 97% !important;
  }
}

.title-container {
    width: 100%;
    padding-top: 1rem;
    border-radius: 5px 5px 0 0;

    .title {

      h1 {
        margin: 0;
        width: 100%;
        text-align: left;
        font-size: 3.8rem;
        color: #1a1a1a;
        font-weight: 600;
        text-shadow: -0.4px -0.4px 0 #000, 0.4px -0.4px 0 #000, -0.4px 0.4px 0 #000, 0.4px 0.4px 0 #000;
        text-shadow: 0px 0px 5px rgba(80, 80, 80, 0.8);
      }
    }

    @media screen and (min-width: 600px) {
      .title {
        width: calc(100% - 190px) !important;
        h1 {
          padding-left: 0rem;
        }
      }

      .logo-container {
        width: 190px !important;
      }
    }

    @media screen and (max-width: 600px) {
      .title {
        h1 {
          text-align: center;
          padding: 0 1rem;
        }
      }
      .logo-container .logo {
        margin: 0 auto 1rem;
        display: block;
      }
    }

    .stripe-container {
      position: absolute;
      opacity: 0.7;
      width: 100%;
      height: 100px;
      top: 40px;
      left: 0;

      .stripe {
        display: block;
        height: 50px;
        width: 100%;

        &.black {
          background-color: black;
        }
      }
    }

    .logo-container {
      position: relative;
      margin: 0 auto;
      .logo {
        width: 160px;
        top: 7px;
        left: 120px;
        z-index: 100;
      }
    }
}

.jobs-container {
  width: 90%;
  margin: 0 auto 6rem;
  background-color: #fafafa;
  padding: 3rem 2rem;
  border-radius: 0 0 5px 5px;

  input.job-filter {
    margin: 0 auto 15px;
    width: 95%;
    display: block;
    &:focus {
      border-bottom: 1px solid #1a1a1a;
      box-shadow: 0 1px 0 0 #1a1a1a;
    }
  }

  .job {
    display: block;

    background-color: #fff;
    border: 5px solid #ffd966;
    box-shadow: 0 -3px 5px 0px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 -3px 15px 5px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    /* outline: 1px solid rgba(50, 50, 50, 0.5); */

    transition: background-color .3s, box-shadow .3s;

    &:hover {
      box-shadow: 0 0px 18px 6px rgba(0, 0, 0, 0.4), 0 2px 10px 0 rgba(0, 0, 0, 0.4);
    }

    .close-container {
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: hand;
      cursor: pointer;
    }

    .logo-container {
      img {
        max-width: 70%;
        display: block;
        margin: 1rem auto 0;
        max-height: 80px;
      }
    }
    .company-name, .job-title {
      color: #f08c00;
      font-weight: 400;
      line-height: 30px;
      margin: 1rem 0.5rem 0
    }

    .company-name {
      font-size: 18px;
      font-weight: 300;
    }

    .job-title {
      margin-top: 0;
    }

    .job-end {
      font-size: 0.9rem;
      color: #afafaf;
      margin: 0.5rem;
    }

    .card-content {
      /*
        height: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 20px 20px 0 20px;
        margin-bottom: 20px;
      */
    }

    .card-action {

      .company-url {

      }
      &.job-tags {
        /*
        height: 94px;
        overflow: hidden;
        padding: 20px 20px 0 20px;
        margin-bottom: 20px;
        */
        .job-tag {
          background-color: #fafafa;
          color: #1a1a1a;
          margin: 0 0.5rem 0.5rem 0;
          border: 1px solid rgba(50, 50, 50, 0.5);

          transition: background-color .3s, color .3s;
          &:hover {
            background-color: #ffd966;
            color: #1a1a1a;
          }
        }
      }
    }

    &.single .card-action.job-tags {
      height: auto;
    }

    &.inactive {
      border-color: #afafaf;
      .card-title {
        color: #afafaf;
      }
    }
  }

  .overlap {
    width: 100%;
    border-top: 10px solid #ffcc33;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-bottom: 1rem;
  }
}
